* {
    font-family: "FiraCode Nerd Font", "Symbols Nerd Font"; /* Ya que tienes FiraCode instalada */
}

window {
    background-color: rgba(17, 17, 27, 0.808);
}

button {
    background-color: #141F26;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #7AB3BF;
    margin: 10px;
    min-width: 150px;
    min-height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    color: #F27F1B;
}

button:hover {
    background-color: #F27F1B;
    border-color: #F27F1B;
}

/* Estilo para el texto de los botones */
button label {
    color: #7AB3BF;
    font-size: 20px;          /* Texto más grande */
    font-weight: bold;        /* Texto en negrita */
    margin-top: 160px;
}

/* Cambio de color del texto al hover */
button:hover label {
    color: #141F26;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}