window {
    background-color: #1e1e1e;
    border-radius: 20px;
    color: white;
    opacity: 0.90;
}

entry {
    background-color: #333;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #eee;
    padding: 5px; /* Padding interno para cada entrada */
}

entry:selected {
    background-color: #555;
    color: #fff;
}

#img {
    margin-right: 10px;
}