#clock {
    margin-right: 35px;
    font-family: 'FiraCode Nerd Font'; 
    padding: 5px;
    color: #D95F18;
}

#pulseaudio {
    margin-right: 35px;
    font-family: 'FiraCode Nerd Font';
    padding: 5px;
    color: #D95F18;
}

#pulseaudio.muted {
    background-color: #f53c3c;
}

#custom-wlogout {
    color: #ff0e0e;
    margin-right: 25px;
    font-size: 30px;
    font-family: 'FiraCode Nerd Font'; 
}

#custom-networkstatus { 
    padding: 5px;
    color: #D95F18;
    margin-right: 35px;
    font-family: 'FiraCode Nerd Font';
}

#workspaces {
    margin-left: 10px;
    padding: 5px;
    color: #D95F18;
}

#workspaces button {
    font-family: 'FiraCode Nerd Font'; 
    color: #6c7086;  /* Color gris para círculos inactivos */
    border-radius: 50px;
    padding: 0 5px;
    margin: 0 3px;
}

#workspaces button.active {
    color: #D95F18;  /* Color morado claro para el círculo activo */
    background: transparent;
    border: 0 solid transparent;
}

#workspaces button:hover {
    color: #D95F18;  /* Color rosa claro al pasar el mouse */
    background: transparent;
    border: 0 solid transparent;
}

#waybar {
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 3px solid #D95F18;
}

#custom-launcher {
    font-size: 22px;
    margin-left: 25px;
    font-family: 'FiraCode Nerd Font';
    color: #00b7ff;
}

#memory {
    color: #D95F18;
    margin-right: 35px;
    font-family: 'FiraCode Nerd Font';
}

#cpu {
    color: #D95F18;
    margin-right: 35px;
    font-family: 'FiraCode Nerd Font';
}

#temperature {
    color: #D95F18;
    margin-right: 35px;
    font-family: 'FiraCode Nerd Font';
    transition: all 0.3s ease;
}

#temperature.critical {
    color: #ff0000;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.5;
    }
}

#custom-waypaper {
    color: #fffb00;
    font-size: 22px;
    margin-left: 25px;
    margin-right: 10px;
    font-family: "FiraCode Nerd Font";
}

#tray {
    margin-right: 35px;
    padding: 5px;
    color: #D95F18;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}