#clock {
    margin-right: 20px;
    font-family: 'FiraCode Nerd Font'; 
    padding: 5px;
    color: #D95F18;
}

#pulseaudio {
    margin-right: 35px;
    font-family: 'FiraCode Nerd Font';
    padding: 5px;
    color: #D95F18;
}

#custom-wlogout {
    color: #ff0e0e;
    margin-right: 25px;
    font-size: 30px;
    font-family: 'FiraCode Nerd Font'; 
}

#custom-networkstatus { 
    color: #D95F18;
    margin-right: 35px;
    font-family: 'FiraCode Nerd Font';
}

#workspaces {
    color: #D95F18;
}

#workspaces button {
    font-family: 'FiraCode Nerd Font'; 
    color: #6c7086;  /* Color gris para círculos inactivos */
    border: 0px solid transparent;
    background: transparent;
 
}

#workspaces button.active {
    color: #D95F18;  /* Color morado claro para el círculo activo */
    background: transparent;
    border: 0px solid transparent;
}

#workspaces button:hover {
    color: #D95F18;  /* Color rosa claro al pasar el mouse */
    background: transparent;
    border: 0px solid transparent;
    
    
}

#waybar {
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.901);
    border-radius: 15px;
    border: 3px solid #D95F18;
}

#custom-launcher {
    font-size: 22px;
    margin-left: 25px;
    font-family: 'FiraCode Nerd Font';
    color: #00b7ff;
}

#custom-waypaper {
    color: #fffb00;
    font-size: 22px;
    margin-left: 25px;
    margin-right: 10px;
    font-family: "FiraCode Nerd Font";
}

#tray {
    margin-left: 20px;
    color: #D95F18;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}