#clock {
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'FiraCode Nerd Font'; 
}

#custom-waypaper {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
    font-family: "FiraCode Nerd Font";
  }

#pulseaudio {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    font-family: 'FiraCode Nerd Font';
    background-color: rgb(0, 0, 0);
    border-radius: 25px; 
}

#pulseaudio.muted {
    background-color: #f53c3c;
}

#custom-config {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    font-family: 'FiraCode Nerd Font';
    background-color: rgb(0, 0, 0);
    border-radius: 25px; 
}

#custom-wlogout {
    margin-right: 20px;
    font-family: 'FiraCode Nerd Font'; 
}

#custom-launcher {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    font-family: 'FiraCode Nerd Font';
    background-color: rgb(0, 0, 0);
    border-radius: 25px; 
}

#custom-networkstatus {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    font-family: 'FiraCode Nerd Font';
    background-color: rgb(0, 0, 0);
    border-radius: 25px; 
}

#workspaces button {
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'FiraCode Nerd Font'; 
    color: rgb(255, 255, 255);
}

/* Color de fondo para botones activos */

#workspaces button.active {
    font-family: 'FiraCode Nerd Font'; 
    background-color: rgb(58, 137, 255); /* Cambia este color según tu preferencia */
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 20px; /* Opcional: Ajusta el borde */
    color: rgb(0, 0, 0); /* Opcional: Color del texto */
}

#workspaces {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    border-radius: 25px;

} 

#waybar {
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 255, 255);
}